{% extends  'main.html' %}

{% block spider %}
<div class="large-offset-1 large-12 columns">
		<form action="/spider/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ search_form }}
			<input type='image' src='/static/search.png' width='60' height='60'> 
		</form>
		{{ message }}
		{% if finded %}
			Результаты по '{{ zap_from_get }}':<br><br>
			<div class="large-offset-1 large-10 columns">
			{% for val in finded %}
				<p> <b>Code:</b> {{ val.code.0 }} <br> <b>name:</b> {{ val.name.0 }} <br> <b>url:</b> <a>{{ val.url.0 }}</a> </p>
				<hr>
			{% endfor %}
			</div>
		{% endif %}

		<div class="row">
    <div class="large-12 large-offset-2 columns">
   	 <ul class="pagination">

   		 {% for page in pages %}

   			 {% if page == curpage %}
   				 <li class="current">
   					 <a href="/spider/{{ page }}/{{ zap_from_get }}/">{{ page }}</a></li>
   			 {% else %}
   				 <li><a href="/spider/{{ page }}/{{ zap_from_get }}/">{{ page }}</a></li>
   			 {% endif %}

   		 {% endfor %}

   		</ul>
    </div>
</div>
</div>
{% endblock %}