{% extends  'main.html' %}
{% load static %}

{% block spider %}

<div class="large-offset-0 large-12 columns">

	<form action="/spider/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ search_form }}
		<!--<input type='image' src='/media/search.png' width='60' height='60'>--> 
	</form>
		
	{% if search_form.errors  %}
	{% for error in search_form.errors %}
		{{error}}<br>
	{% endfor %}
	{% endif %}

	<div class="row">
	    <div class="large-11 large-offset-1 columns">
	    	<div class="data">
	    		<!--items results from elastic (fns.py - request to elastic, template-items.html)-->	
	    	</div>
	    </div>
	</div>

</div>

<script>

	var search = document.getElementById("id_search");
	//Аяксовое получение items после ввода 3х символов или цифр, или удаления символов
	$(search).keyup(function(event)
	{
		if((event.keyCode>=48 && event.keyCode<=90)||(event.keyCode==8)||(event.keyCode==46))
		{
			
			text=$("#id_search").val()
			if(text.length>2)//запрос будет, если минимум 3 символа в форме
			{
				get_items('POST',text,'/spider/');//получение аяксом items
			}
		}
	});

	function get_items(method,search,url)
	{
		function csrfSafeMethod(method)//чтоб не ругался CSRF
		{
	    // these HTTP methods do not require CSRF protection
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		var csrftoken = $.cookie('csrftoken');

		$.ajaxSetup//чтоб не ругался CSRF
		({
				beforeSend: function(xhr, settings) 
				{
	        	if (!csrfSafeMethod(settings.type) && !this.crossDomain) 
	        	{
	            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
    			}
			}	
		});

		//Собственно, аякс запрос в эластик
		$.ajax
		({
			url: url,
            type: method,
            dataType:'html',
            data: {"search_ajax":search},
            success: function(data){
                $("div.data").html(data);
            }
		});
	}

</script>
{% endblock %}