{% extends  'main.html' %}

{% block spider %}
<div class="large-offset-3 large-6 columns">
		<form action="/spider/" method="post">
			{% csrf_token %}
			<label for="search">поиск: </label>
			<input type="text" name="search" id="search"><input class="button" type="submit" value="найти">
			{% if message %}<input class="button" id='reset' type="submit" value="reset">{% endif %}
		</form>
		{% if finded %}
			{% for val in finded %}
				<br>  {{ val.0 }} {{ val.1 }} 
			{% endfor %}
		{% endif %}
</div>
{% endblock %}