sudo apt-get install python-dev python-pip libxml2-dev libxslt1-dev zlib1g-dev libffi-dev libssl-dev

sudo apt-get install default-jdk

sudo apt-get install libtiff4-dev libjpeg8-dev zlib1g-dev 

sudo apt-get install libfreetype6-dev liblcms2-dev libwebp-dev tcl8.5-dev tk8.5-dev python-tk
